<h3>Equipment</h3>
<!-- <ul>
  <li>Habitat dome</li>
  <li>Drones</li>
  <li>Food containers</li>
  <li>Oxygen tanks</li>
</ul> -->
<ul>
  <li *ngFor="let item of equipment">
    <span *ngIf="equipmentBeingEdited !== item; else elseBlock">

      <!-- {{member.name}} -->
      <span (click)="edit(item)" class="editable-text">{{item.type}}</span>
      <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #elseBlock>
      <input #updatedItem (keyup.enter)="save(updatedItem.value, item)" value="{{item}}"/>
      <button (click)="save(updatedItem.value, item)">save</button>
    </ng-template>
  </li>
</ul>
<input #item type="text"/>
<button (click)="add(item.value)">Add</button>
